/* Show it is fixed to the top */
body {
    padding-top: 4.5rem;
}

h2 {
    font-family: 'Nunito', sans-serif;
}

.navbar-light .nav-item.active .nav-link,
.navbar-light .nav-item:focus .nav-link{
    color: #d40000;
}

.navbar-light .nav-item:hover .nav-link {
    color: black;
}